/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2014, 9:25:14 AM
    Author     : miguel Veces
*/

a:link{ color:#9eb73a }
a:visited{color:#9eb73a}
a:hover{color:#9eb73a}
a:active{color:#9eb73a}
a{
    text-decoration:none;
    font-family:arial;
    font-size: 12px;
    font-weight:bold;
}
body
{
    background-image: url(../img/fondo1.jpg);
    margin:auto;
}
#contenido{
    background-image: url(../img/bkg_2.jpg);
    width: 100%;
    min-height: 30em;

    
}
#footer
{
   width: 100%; 
   height: 93px;
   background-color:white;
    
    
}

#header{
    background-image: url(../img/bkg_1.jpg);

    width: 100%;
    height: 125px;
}
#login{
    margin-top: 2em;
    margin-left: 25%;
    display: inline-block;
}
#login_registro{
    margin-top: 2em;
    display: inline-block;
   
   
}
#registro{
    margin-top: 2em;
    margin-left: 25%;
    display: inline-block;
   
}
#numero{
    margin-top: 2em;
    margin-left: 25%;
    display: inline-block;
   
}
#tarjeta{
    margin-top: 2em;
    margin-left: 25%;
    display: inline-block;
   
}
#pass{
    margin-top: 2em;
    margin-left: 35%;
    display: inline-block;
   
}

.div_login{
    margin:auto; 
    width:321px; 
    height: 96px; 
    background-image: url(../img/inicio-sesion.jpg);
    background-repeat: no-repeat; 
    background-size: 321px 96px;
    
}

.div_login_registro{
    margin:auto; 
    width:321px; 
    height: 96px; 
    background-image: url(../img/registrese.jpg);
    background-repeat: no-repeat; 
    background-size: 321px 96px;
    
}
.div_reg{
    width: 656px; 
    height: 96px; 
    background-image: url(../img/nuevo-usuario.jpg);
    background-repeat: no-repeat; 
    background-size: 656px 96px;
    
}
.div_num{
    width: 656px; 
    height: 96px; 
    background-image: url(../img/registro-numero.jpg);
    background-repeat: no-repeat; 
    background-size: 656px 96px;
    
}
.div_tarj{
    width: 656px; 
    height: 96px; 
    background-image: url(../img/registro-tarjeta.jpg);
    background-repeat: no-repeat; 
    background-size: 656px 96px;
    
}
.div_pass{
    margin:auto; 
    width:321px; 
    height: 96px; 
    background-image: url(../img/olvido-contrasena.jpg);
    background-repeat: no-repeat; 
    background-size: 321px 96px;
    
}

.div_grid
{    
     overflow: auto;
     width:100%;
     height: 150px;
}
.div_footer_logo{
    width: 100%;
    height: 53px;
    background-image: url(../img/logo-loteria.gif);
    background-repeat: no-repeat; 
    background-size: 87px 53px;
    background-position: right;
    margin-left:-15px;
    
}
.div_footer{
    background-image: url(../img/bkg_3.jpg);
    width: 100%;
    height: 40px;
  
}
.estrellas{
    float:right; 
    padding-top:20px;
}
.label_box_inicial{
    margin-left:auto;
    margin-top: -15px;
    width:290px;
    padding-bottom: 6px;
}
.label_box{
    margin-left:auto;
    width:290px;
    padding-bottom: 6px;
}
/*dos columnas*/
.label_box_inicial2{
    margin-top: -15px;
    display: inline-block;
    margin-left:2.5em;
    width:290px;
    padding-bottom: 6px;
}
.label_box_2{
    display: inline-block;
    margin-left:2.5em;
    width:290px;
    padding-bottom: 6px;
}
/*label empty*/
.label_empty{
    margin-left:auto;
    width:290px;
    height: 25px;
    padding-bottom: 6px;
}
.label_empty2{
    display: inline-block;
    margin-left:2.5em;
    width:290px;
    padding-bottom: 6px;
    height: 20px;
   
}
.label_frm{
    font-size:12px; 
    font-family: arial;
    font-weight: bold; 
    color:#666666;
}

.logo{
    float:left;
    padding-top:20px;
}
/*una columna*/
.txt_box{
    margin-left:auto;
    width:290px;
    padding-bottom: 6px;

}
/*dos columnas*/
.txt_box_2{
    display: inline-block;
    margin-left:2.5em;
    width:290px;
    padding-bottom: 6px;

}
.txt_box_3{
    /*display: inline-block;*/
    margin-left:2.5em;
    width:580px;
    padding-bottom: 6px;

}
.txt_frm{
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    width: 240px; 
    height: 25px;
    background-color:#e6e6e6;
}
.txt_frm_3{
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    width: 575px; 
    height: 25px;
    background-color:#e6e6e6;
}
.btn_iniciar{
    margin-left:auto;
    margin-right:53px;
    text-align: right; 
    width:290px; 
    padding-bottom: 20px;
}
.btn_registrar{
    margin-left:3em;    
    text-align: left; 
    width:290px; 
    padding-bottom: 20px;
}
.btn_aceptar{
    margin-left:1em;    
    text-align: right; 
    width:290px; 
    padding-bottom: 20px;
}
.btn_atras{
    margin-left:11em;
    padding-bottom: 6px;
    margin-top: -56px
}
.btn_regitro_tarjeta{
    margin-left:19em;
    padding-bottom: 6px;
    margin-top: -42px
}
.olvida_pwd{
    margin-left:auto;
    margin-right:50px;
    text-align: center; 
    width:290px; 
    padding-bottom: 6px;
}

.txt_box_r{
    border: 0px solid;margin-right:45px; float:right;padding-bottom:6px
}
.grd_box{
    /*display: inline-block;*/
    margin-left:2.5em;
    width:580px;
    padding-bottom: 20px;

}
.grid_tbl
{
     border-collapse: collapse;
    
    
}

.grid_tbl td
{
     font-size:12px; 
     font-family: arial; 
     font-weight: bold; 
     color:#666666; 
     height: 25px; 
     background-color:#e6e6e6;
     border: 1px solid #bfbfbf;
     padding: 2px
    
}

.mensaje{
    border:solid red 2px;
}

#reg{
    background-color:#FF0000;
    background:url(../img/btn-registrar.gif);
    width: 3em;
    border-radius: 2px 2px;
}